:root {
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes zoomInOut {
    0%,
    100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}
@keyframes bounceTop {
    0%,
    100% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0px);
    }
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #b84ae7, #9154ed);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 5px rgba(110, 104, 104, 0.7);
}
.todo-app h2 {
    color: #201a1c;
    display: flex;
    font-size: 30px;
    align-items: center;
    margin-bottom: 50px;
}
.todo-app h2 img {
    width: 40px;
    margin-right: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bd18c3;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    color: #000;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}
input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1; 
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #9c2cd8;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: #9d117a;
    color: #fff;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url('images/icon.png');
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url('images/check.png');
    height: 50px;
    width: 50px;
    margin-top: -8px;
    margin-left: -10px;
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover {
    background: #edeef0;
}
@media (max-width:760px) {
    .container {
        height: 100%;
        width: 100%;
    }
    .row {
        max-width: 400px;
    }
    button {
        max-width: 400px;
        padding: 10px;
        font-size: 15px;
    }
}